.repo-list {
    list-style: disc;
    padding-left: 20px;
}

.repo-list li {
    margin-bottom: 10px;
    width: 100%;
}

.repo-list li a {
    color: #000;
    text-decoration: none;
}

.repo-list li a:hover {
    text-decoration: underline;
}
