.user-search {
    font-size: 15px;
    height: 45px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

.user-list {
    display: flex;
    flex-wrap: wrap;
}

.user-list__item {
    display: flex;
    flex-basis: 50%;
    padding: 0 10px;
}

.user-list__item a {
    background: #FFF;
    border: .0625rem solid #d1d3d4;
    color: #000000;
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    text-decoration: none;
    width: 100%;
}

.user-list__item img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 150px;
}

@media (max-width: 759px) {
    .user-list__item {
        flex-basis: 100%;
    }

    .user-list__item img {
        width: 100px;
    }
}
